{% extends 'base.html' %}


{% block contents %}
<div class="py-4"></div>
<section class="profil-library py-5" style="background-color: #fff;">
    <div class="container min-vh-100">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-12 text-center">
                <h1 class="display-5 text-center fw-bold" style="font-size: 2.5rem; color: navy;">Layanan Perpustakaan</h1>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-12">
                <p><b><h5>Layanan Sirkulasi</h5></b></p>
                <p>Melayani registrasi keanggotaan, peminjaman dan pengembalian buku, perpanjangan masa pinjam, serta pengeluaran Surat Keterangan Bebas Pinjam Pustaka.</p>
                <br>
                <p><b><h5>Layanan Rujukan</h5></b></p>
                <p>Membantu pengguna dalam hal penelusuran informasi, khususnya bagi mahasiswa yang sedang mengerjakan tugas akhir atau dosen yang sedang melakukan penelitian. Permintaan informasi dapat disampaikan secara langsung atau lewat email (lib_uhamka@yahoo.com)</p>
                <br>
                <p><h5><b>Layanan Pendidikan Pemakai dan <i>Information Literacy</i></b></h5></p>
                <p>Pendidikan Pemakai Perpustakaan (P3) diadakan setiap awal tahun ajaran baru untuk mahasiswa baru. Layanan <i>Information Literacy (IL)</i> diberikan kepada mahasiswa dan dosen mengenai cara penelusuran efektif, yang bertujuan untuk membantu meningkatkan information skills pengguna. Permohonan untuk mengadakan pelatihan dapat disampaikan melalui email lib_uhamka@yahoo.com</p>
                <br>
                <p><h5><b>Layanan Internet</b></h5></p>
                <p>Pemustaka dapat mengakses internet melalui komputer yang disediakan maupun dengan laptop dengan akses wifi (hotspot).</p>
                <br>
                <p><h5><b>Layanan Koleksi Digital</b></h5></p>
                <p>Koleksi digital yang dimiliki Perpustakaan Uhamka seperti e-books, e-articles, skripsi, tesis, disertasi dan makalah dapat diakses melalui komputer yang disediakan.</p>
                <br>
                <p><h5><b>Layanan Koleksi Perpustakaan Islam Digital</b></h5></p>
                <p>Koleksi Perpustakaan Islam Digital (PID) dapat diakses di perpustakaan.</p>
                <br>
                <p><h5><b>Layanan Fotocopy</b></h5></p>
                <p>Permintaan fotokopi diajukan kepada petugas dengan cara mengisi form pesanan fotokopi. Fotokopi diberlakukan untuk koleksi buku teks, jurnal, laporan seminar, dan Laporan Penelitian.</p>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}
    