{% extends 'base.html' %}

{% block contents %}
<div class="py-4"></div>
    <section class="profil-library py-5" style="background-color: #fff;">
        <div class="container min-vh-100">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-12 text-center">
                    <h1 class="display-5 text-center fw-bold" style="font-size: 2.5rem; color: navy;">Profil Perpustakaan</h1>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-md-12">
                    <p>Universitas Muhammadiyah Prof. Dr. Hamka (UHAMKA) merupakan salah satu perguruan tinggi swasta Perserikatan Muhammadiyah yang berkedudukan di Jakarta yang dikelola oleh Perserikatan Muhammadiyah.</p>
                    <br>
                    <p>UHAMKA adalah perubahan bentuk dari Institut Keguruan dan Ilmu Pendidikan (IKIP) Muhammadiyah Jakarta dengan nama awal Perguruan Tinggi Pendidikan Guru (PTPG). PTPG ini diresmikan pada tanggal 25 Rabiul Awal 1377 H / 18 Nopember 1957 M. Sejalan dengan kebijakan pemerintah, pada tahun 1958 PTPG berubah menjadi Fakultas Keguruan dan Ilmu Pendidikan (FKIP) yang menginduk kepada Universitas Muhammadiyah Jakarta (UMJ). Pada tahun 1965 FKIP UMJ berdiri sendiri dengan nama IKIP Muhammadiyah Jakarta (IKIP-MJ). Pada tahun 1997 IKIP Muhammadiyah Jakarta berubah menjadi Universitas Muhammadiyah Prof. Dr. Hamka (UHAMKA).</p>
                    <br>
                    <p>UPT Perpustakaan berdiri seiring dengan berdirinya IKIP Muhammadiyah Jakarta. Sejak berdiri, perpustakaan banayak mengalami perkembangan, walaupun perkembangan tersebut dilaksanakan tahap demi tahap.</p>
                    <br>
                    <p>Sebagai Unit Pelaksana Teknis (UPT) Perpustakaan memiliki cabang yaitu Perpustakaan Fakultas : FKIP, FEB, FT, FFS dan Perpustakaan Sekolah Pascasarjana (SPS).</p>
                </div>
            </div>
        </div>
    </section>
{% endblock contents %}
    