{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar fixed-top fixed-effect navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid px-5">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/uhamka.png'%}" alt="logo uhamka" style="height: 70px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
          <li class="nav-item">
            <a class="nav-link klik-menu" aria-current="page" href="/" id="beranda">Beranda</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profil
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item klik-menu" id="profil" href="{% url 'profil:profil-perpustakaan' %}">Profil Perpustakaan</a></li>
              <li><a class="dropdown-item" href="{% url 'profil:layanan-perpustakaan' %}">Layanan Perpustakaan</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Layanan
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'layanan:journal' %}">Journal</a></li>
              <li><a class="dropdown-item" href="{% url 'layanan:repository' %}">Repository</a></li>
              <li><a class="dropdown-item" href="{% url 'layanan:catalog' %}">Catalog</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Petunjuk
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'petunjuk:petunjuk-perpustakaan' %}">Petunjuk Perpustakaan</a></li>
              <li><a class="dropdown-item" href="{% url 'petunjuk:peminjaman-buku' %}">Peminjaman Buku</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link klik-menu" aria-current="page" href="{% url 'pagestaff:staff' %}" id="beranda"><i class="fa fa-sign-in-alt"></i> Login</a>
            </li>
          </li>
      </div>
    </div>
  </nav>
