{% extends 'base.html' %}


{% block contents %}
<div class="py-4"></div>
<section class="profil-library py-5" style="background-color: #fff;">
    <div class="container min-vh-100">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-md-12 text-center">
                <h1 class="display-5 text-center fw-bold" style="font-size: 2.5rem; color: navy;">Petunjuk Perpustakaan</h1>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-12">
                Petunjuk pengguna merupakan pelengkap dari Peraturan yang dikeluarkan oleh Perpustakaan Universitas Muhammadiyah Prof.Dr.Hamka. Kami berusaha semaksimal mungkin menyediakan informasi-informasi seputar layanan Perpustakaan yang selama ini menjadi pertanyaan pengguna perpustakaan. Petunjuk pengguna ini dibagi berdasarkan layanan yang kami sediakan, yaitu : Keanggotaan Meliputi prosedur pendaftaran dan perpanjangan keanggotaan. Sirkulasi Meliputi prosedur peminjaman, pengembalian dan perpanjangan peminjaman bahan pustaka. Administrasi Meliputi prosedur pembuatan Surat Bebas Perpustakaan dan Surat Keterangan Sumbangan. Kunjungan Meliputi prosedur kunjungan ke ruang referensi. Semoga informasi ini berguna bagi anda.
            </div>
        </div>
    </div>
</section>
{% endblock contents %}
    