{% extends 'crud/base.html' %}
{% load static %}


{% block content %}
<section class="catalog py-5">
    <div class="container-fluid bg-light">
        <div class="row align-items-start py-5">
          <h3 class="display-5 text-center fw-bold mb-5">Journal.</h3>
          <hr>
            <div class="col-md-4 text-center text-md-left mb-5">
              <h2 class="fw-bold">Add Data</h2>
                <form action="" method="POST" id="addJournal">
                  {% csrf_token %}
                
                    <div class="form-group input-group my-3">
                      {{form.judul_artikel}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.judul_terbitan}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.issn}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.bahasa}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.tempat_terbit}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.tahun}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.volume}}
                    </div>
                    <div class="form-group input-group my-3">
                      {{form.penerbit}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.frekuensi_penerbitan}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.penulis}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.abstraksi}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.kata_kunci}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.lokasi}}
                    </div>
                    <div class="form-group input-group my-3">
                        {{form.terakreditasi}}
                    </div>
                
                    
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-8 table-responsive">
              <h2 class="fw-bold text-center">List Journal</h2>
              <table class="table table-striped text-center" id="myjournal">
                <thead class="bg-info">
                  <tr>
                    <th scope="col">Judul</th>
                    <th scope="col">Penulis</th>
                    <th scope="col">Lokasi</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for journal in journals %}
                    <tr>
                      <td>{{ journal.judul_artikel }}</td>
                      <td>{{ journal.penulis }}</td>
                      <td>{{ journal.lokasi }}</td>
                      <td>
                      <a href="{% url 'pagecrud:journalupdate' journal.id %}" class="btn btn-sm btn-warning fw-bold"><i class="fa fa-edit"></i> Update</a>                      
                      </td>
                      <td>
                        <a href="{% url 'pagecrud:journaldelete' journal.id %}" class="btn btn-sm btn-danger fw-bold"><i class="fa fa-trash-alt"></i> Delete</a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="8" class="text-center bg-warning">No book</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
                    {% if is_paginated %}
                            <nav aria-label="journalPage" class="my-5">
                                <ul class="pagination" class="justify-content-center" style="justify-content: center!important;">
                              
                                  {% if page_obj.has_previous %}
                                      <li class="page-item">
                                          <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                                      </li>
                                  {% else %}
                                      <li class="page-item disabled">
                                          <a class="page-link" href="#">Previous</a>
                                      </li>
                                  {% endif %}
  
                                  
                                  {% for page in paginator.page_range %}
                                      
                                      {% if page is page_obj.number %}
                                              <li class="page-item active" aria-current="page">
                                                  <span class="page-link" href="#">{{page}}</span>
                                              </li>
                                      {% else %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page }}">{{page}}</a>
                                          </li>
                                      {% endif %}
                                      
                                  {% endfor %}
                                  
                                  {% if page_obj.has_next %}
                                      <li class="page-item">
                                          <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                                      </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                      <a class="page-link" href="#">Next</a>
                                  </li>
                                  {% endif %}
                              </ul>
                            </nav>
                    {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    

{% block javascript %}

{% endblock javascript %}
  