{% extends 'crud/base.html' %}


{% block content %}
<section class="repository py-5">
    <div class="container-fluid bg-light">
        <div class="row align-items-start justify-content-center py-5">
          <h3 class="display-5 text-center fw-bold mb-5">Repository.</h3>
          <hr>
            <div class="col-md-6 fw-bold text-center">
                <h2 class="display-5">
                    Repository Update.
                </h2>
            </div>
            <div class="col-md-6 text-center text-md-left mb-5">
                <form action="" method="POST" id="">
                  {% csrf_token %}
  
                <div class="form-group input-group my-3">
                    {{form.jenis_penulisan}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.judul}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.abstraksi}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.pembimbing}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.penulis}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.keyword}}
                </div>
                <div class="form-group input-group my-3">
                    {{form.lokasi}}
                </div>
                    
                <button type="submit" id="" class="btn btn-primary fw-bold">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    